body {
  padding: 40;
  margin: 0;
}

.main-container {
  font-family: arial;
  /* font-family: "Montserrat", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

.link-container {
  border: 1px solid;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 250ms;
}

.link-container:hover {
  background-color: rgba(216, 216, 216, 0.5);
  font-style: bold;
}

.link-container-multi {
  text-align: center;
  height: 75px;
}

.link-sm {
  display: inline-block;
  margin-top: 25px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.link-sm a {
  text-decoration: none;
  color: black !important;
}

.link-sm a:hover {
  color: rgb(0, 225, 255) !important;
}

.header-md {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}
