@media only screen and (max-width: 600px) {
  .main-container {
    width: 100%;
    /* background-color: black; */
  }
}

@media only screen and (min-width: 600px) {
  .main-container {
    width: 75%;
    margin: 15px;
    padding: 15px;
    max-width: 600px !important;
  }
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.main-container {
  display: inline-block;
  /* min-width: 500px; */
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}
.title-1 {
  font-size: 32;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title-2 {
  font-size: 20;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title-3 {
  margin: 7px;
}

.link-container {
  text-align: center;
  border: 1px solid;
  box-shadow: 5px 5px black;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 250ms;
}

.link-container:hover {
  background-color: rgb(0, 255, 255, 0.5);
  font-style: bold;
}

.link-container-multi {
  text-align: center;
  /* border: 1px solid; */
  /* box-shadow: 0px 5px 0.5px black; */
  /* display: flex; */
  height: 75px;
}

.link-sm {
  display: inline-block;
  margin-top: 25px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.link-sm a {
  text-decoration: none;
  color: black !important;
}

.link-sm a:hover {
  color: rgb(0, 225, 255) !important;
}

.br {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.header-md {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  /* color: rgba(0, 0, 0, 0.5); */
}
